.avatarLabel {
    font-size: 25px;
    font-weight: 'bold';
    text-align: center;
  }
  
  ion-avatar {
    width: 80px;
    height: 80px;
  }
  
  .cardBadge {
    text-align: center;
  }
  
  .rating {
    text-align: center;
  
  }

  .opntionBtn {
    padding-left: -10%
  }
