<ion-header>
    <ion-navbar>
  <ion-toolbar>
    <ion-title> Tab Two {{ test }} </ion-title>
  </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-button hape="round" expand="full">
    <ion-icon name="star"></ion-icon>
  </ion-button>
  <div>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/little.jpeg" />
        </ion-avatar>
        <ion-label class="avatarLabel">
          <h3 class="avatarLabel">Kyle</h3>
          <p>Hello, Welcome to heaven</p>
          <p>Your choice is perfect</p>
        </ion-label>
      </ion-item>

      <!-- <app-rating class="rating"></app-rating> -->

      <ion-card-content>
        <canvas #lineCanvas></canvas>
        <ion-button (click)="changeData()">
          another data
        </ion-button>
        
        <ion-button >
          6 Month
        </ion-button>
        <ion-button (click) = "viewpastData()">
          func test Btn
        </ion-button>

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="six" (change)= "viewpastData2(6)">6 Month</mat-button-toggle>
          <mat-button-toggle value="nine" (change)= "viewpastData2(9)">9 Month</mat-button-toggle>
          <mat-button-toggle value="twelve" (change)= "viewpastData2(12)">1 YEAR</mat-button-toggle>
          <mat-button-toggle value="2year" (change)= "viewpastData2(24)"> 2 YEAR</mat-button-toggle>
        </mat-button-toggle-group>

      </ion-card-content>

      <ion-card-content class="cardBadge">
        <ion-badge color="primary">10K+</ion-badge>
        &nbsp;
        <ion-badge color="danger">Monthly</ion-badge>
        &nbsp;
        <ion-badge color="success">Weekly</ion-badge>
        &nbsp;
        <ion-badge color="tertiary">Daily</ion-badge>
        &nbsp;
        <ion-badge color="dark">King Of Diet</ion-badge>
      </ion-card-content>

      <ion-item>
        <ion-card-content>
          <h1>How well you fit in ?</h1>
          <p>Blood pressure : Similar</p>
          <p>basic physical strength : Similar</p>
          <p>original weight : Kyle's weight + 15kg</p>
        </ion-card-content>
      </ion-item>
      <ion-card-content>
        <h3 class="avatarLabel">Kyle's Youtube</h3>
        <div>
          <iframe
            width="450"
            height="320"
            src="https://www.youtube.com/embed/TlQ8txalLYg"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </ion-card-content>

      <mat-card class="example-card">
        <div align="center">
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
        </div>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-list>
        <h3 mat-subheader>Folders</h3>
        <mat-list-item *ngFor="let comment of comments">
          <mat-icon mat-list-icon>folder</mat-icon>
          <!-- <h4 mat-line>{{ comment.description }}</h4> -->
          <p mat-line>{{ comment.description}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item *ngFor="let note of notes">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>{{ note.name }}</h4>
          <p mat-line>{{ note.updated | date }}</p>
        </mat-list-item>
      </mat-list>

      <mat-form-field hideRequiredMarker appearance="outline" class="mat-form">
        <mat-label>Comments</mat-label>
        <input matInput #inputComments/>
        <mat-hint>Input Your Comments</mat-hint>
      </mat-form-field>
      <button mat-button (click)="addDescription(inputComments.value)">Action</button>
    </ion-card>
  </div>
</ion-content>
